body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  h1 {
    font-family: Arial, sans-serif;
  }
  
  canvas {
    border: 2px solid #000;
    background-color: #fff;
  }
  
  .keluar{
    position:absolute;
    top: 20px;
    left: 20px;
    background-color: blue;
    padding: 10px;
    border-radius:10px;
    color: white;
    transition: 0.5s;
  }
  .keluar:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
  }

  #controls {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
  }
  
  #controls button {
    width: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #controls button:active {
    background-color: yellow;
    color: black;
  }
  
  /* Tombol kosong untuk membuat bentuk panah */
  #controls .empty {
    visibility: hidden;
  }
  
  